.gray{
	color:gray;
}
.red{
	color:red;
}
.bd{
	width:50%;
	height: 760px;
	border:3px solid #ccc;
	border-radius: 8px;
	margin:150px auto;
}
.form{
	width: 75%;
	margin:7% auto;
}
.input{
	margin-bottom: 10px;
}
.input input,select{
	width:50%;
	height: 20px;
}
.uid_err{
	margin-left: 19%;
}
.code_err{
	margin-left: 10%;
}
.sex_err,.age_err,.name_err,.position_err,.room_err,.password_err,.tpassword_err,.email_err{
	margin-left:50%;
}
.code_txt{
	width:10%;
}
.code_num{
	border:1px solid #000;
}
.code_obt{
	border: 1px solid #000;
	border-radius:5px;
	background-color: #fff;
}
.sub{
	width: 25%;
	height: 40px;
	color:#fff;
	border:1px solid #0ee;
	border-radius: 5px;
	background-color:#0ee;
	margin-top:20px; 
	margin-left:35%;
}
/*iphone5*/
@media screen and (max-width: 414px) {
	.bd{
		width:100%;
		height: 650px;
		margin:0 auto;
	}
	.input{
		margin-bottom: 5px;
	}
	.code_txt{
		width:20%;
	}
	.uid_err{
		font-size: 0.5em;
		margin-left: 0;
	}

	.sex_err,.age_err,.name_err,.position_err,.room_err,.password_err,.tpassword_err,.email_err{
		margin-left:45%;
	}
	.code_err{
		margin-left: 0;
	}
	.sub{
		width:45%;
		margin-top:20px; 
		margin-left:30%;
	}
}