ul,li,p,a,h1,h2,h3,h4,h5,h6,dl,dt,dd {
    margin:0px;
    padding:0px;
    border:none;
    list-style:none;
    text-align: center;
    text-decoration: none;
}
body{
	margin:0px;
    padding:0px;
}
form{
    border: 3px solid #ccc;
    border-radius: 5%; 
    width:50%;
    margin: 5% auto;
    padding:2%;
}

.lt{
	float: left;
}
.rt{
	float: right;
}
.clear{
	clear:both;
}
.content{
    width: 70%;
    margin:3% auto;
}
.sub{
    width:25%;
    margin: auto;
}
.sub input{
    border:0;
    width: 100%;
    height:30px;
    background: #4dffff;
    color: #5b5b5b;
    font-size: 1em;
}
#title,#type,#room{
    width:75%;
}
#content_txt{
    width:75%;
    height: 250px;
    margin: 1% 8%;  
}
